/*img {
  width: 80%;
  margin: 5% auto auto 10%;
}*/

header {
  margin-bottom: 15px;
}

.searchBar {
  max-width: 25%;
}

.contentBox {
  padding-bottom: 10px;
  border-bottom: 5px solid teal;
}

.upvotes {
  display: inline;
  border-left: 1px solid grey;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 25px;
  text-align: right;
}

.positive p {
  color: green;
}

.negative p {
  color: red;
}

.neutral p {
  color: black;
}

.commentLength {
  display: inline-block;
  position: relative;
  bottom: 4px;
  font-size: 25px;
}

.commentSuffix {
  display: inline-block;
  position: relative;
  bottom: 6px;
  font-size: 20px;
}

.submitComment {
  position: relative;
  top: 35px;
}

.commentList {
  margin-bottom: 10px;
  border-bottom: 1px solid teal;
}

.commentList p {
  padding-bottom: 15px;
}
