<!DOCTYPE html>
<html ng-app="redditApp">
  <head>
    <meta charset="utf-8">
    <title>God Creating Animals - A Reddit Clone</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body ng-controller="postCtrl as postController">
    <header>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#dropdown" ng-click="setSort('upvotes')">Upvotes - Ascending</a></li>
        <li><a href="#dropdown" ng-click="setSort('-upvotes')">Upvotes - Descending</a></li>
        <li class="divider"></li>
        <li><a href="#dropdown" ng-click="setSort('title')">Title - Ascending</a></li>
        <li><a href="#dropdown" ng-click="setSort('-title')">Title - Descending</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <div class="brand-logo center">God Creating Animals - A Reddit Clone</div>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" ng-click="postController.Posting()">Post</a></li>
            <li><a class="dropdown-button" href="#dropdown" data-activates="dropdown1">Sort By<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <form class="searchBar">
            <div class="input-field">
              <input id="search" type="search" ng-model="postController.filterText" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons" ng-click="postController.filterText = ''">close</i>
            </div>
          </form>
        </div>
      </nav>

      <section ng-show="postController.posting">
        <div class="row">
          <form class="col s12" name="postForm" ng-submit="postController.addPost()">
            <div class="row">
              <div class="input-field col s6">
                <input id="title" type="text" class="validate" ng-model="postController.newPost.title" required>
                <label for="title">Title</label>
              </div>
              <div class="input-field col s6">
                <input id="author" type="text" class="validate" ng-model="postController.newPost.author" required>
                <label for="author">Author</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="imageURL" type="url" class="validate" ng-model="postController.newPost.imageURL" required>
                <label for="imageURL">Image URL</label>
              </div>
              <div class="input-field col s6">
                <input id="description" type="text" class="validate" ng-model="postController.newPost.description" required>
                <label for="description">Description</label>
              </div>
            </div>
            <div class="row">
              <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action"><i class="material-icons">add circle outline</i></button>
              <button class="btn-floating btn-large waves-effect waves-light red" type="button" name="action" ng-click="postForm.$setPristine(); postController.Posting()"><i class="material-icons">remove circle outline</i></button>
            </div>
          </form>
        </div>
      </section>
    </header>
    <main class="container" ng-controller="contentCtrl as contentController">
      <article class="row contentBox" ng-repeat="post in posts | orderBy:contentController.sort | filter:postController.filterText:false">
        <img ng-src="{{post.imageURL}}" class="contentImage col s4" alt="cool image">
        <div class="col s7">
          <div class="row valign-wrapper" ng-class="post.standing">
            <h5 class="col s8">{{post.title}}"</h5>
            <h6 class="col s2">By {{post.author}}</h6>
            <i class="material-icons" ng-click="contentController.upvote('add', post)">add_circle_outline</i>
            <i class="material-icons" ng-click="contentController.upvote('remove', post)">remove_circle_outline</i>
            <p class="upvotes valign">{{post.upvotes}}</p>
          </div>
          <div class="row">
            <div class="col s8">{{post.description}}</div>
            <div ng-click="contentController.Commenting(post)">
              <p class="commentLength">{{post.comments.length}}</p>
              <i class="material-icons">message</i>
              <p class="commentSuffix" ng-hide="post.comments.length === 1">'s</p>
            </div>
          </div>
        </div>

        <div class="col s12" ng-show="post.commenting">
          <div class="col s12 commentList" ng-repeat="comment in post.comments">
            <div>{{comment.text}} by {{comment.author}}</div>
          </div>
          <form name="commentForm">
            <div class="row">
              <div class="input-field col s7">
                <input id="text" type="text" class="validate" ng-model="contentController.newComment.text" required>
                <label for="text">Text</label>
              </div>
              <div class="input-field col s4">
                <input id="author" type="text" class="validate" ng-model="contentController.newComment.author" required>
                <label for="author">Author</label>
              </div>
              <div class="col s1">
                <i class="material-icons submitComment" ng-click="contentController.addComment(post); commentForm.$setPristine()">queue</i>
              </div>
            </div>
          </form>
        </div>
      </article>

    </main>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
